@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&family=Orbitron:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: rgba(138, 138, 138, .8);
}

header, footer {
    background: #333;
    width: 100%;
    padding: 25px;
}

header h2 {
    color: #fff;
    margin-left: 15px;
    font-family: 'Radio Canada', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    padding: 10vh 0;
}


main .container {
    displa: block;
}

main .container .row {
    margin: 8px 0;
}

main .container .row, .row > .column {
    padding: 8px;
}

main .container .column {
    float: left;
    width: 25%;
}

main .container .row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 900px) {
    main .container .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    main .container .column {
        width: 100%;
    }
}


main .container .item {
    background: #f83f2c;
    width: 85%;
    margin: auto;
    height: 100%;
    border-radius: 0 20px;
    margin-bottom: 60px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .6);
}

main .container .item img {
    width: 100%;
    border-radius: 0 20px 0 0;
    height: 150px;
}

main .container .item .texto {
    padding: 8px 20px 15px 15px;
    color: rgba(255, 255, 255, .8);    
    line-height: 1.6;
}

main .container .item .texto p {
    margin: 5px 0;
    text-align: center;
}


footer p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
