@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

body {
    background: #808080;
}

header, footer {
    background: #333;
    width: 100%;
    padding: 25px;
}

header h2 {
    color: #fff;
    margin-left: 15px;
    font-family: 'Radio Canada', sans-serif;
}


main {
    width: 100%;
    height: 100%;
    padding: 20vh 0;
}


main .fundo {
    background: linear-gradient(.5turn, orangered, orange);
    width: 380px;
    height: 380px;
    margin: auto;
    padding: 20px 10px 0 10px;
    border-radius: 200px;
    padding-top: 30px;
}

main .fundo .container-cabeca, .container-pescoco, .container-corpo, .container-flutuador, .container-ondas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .fundo .container-cabeca .cabeca {
    background: silver;
    width: 150px;
    height: 100px;
    border-radius: 100px;
    border: 4px solid #fff;
}

main .fundo .container-cabeca .cabeca .olhos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: auto;
    width: 75%;
    margin-top: 6px;
}

main .fundo .container-cabeca .cabeca .olhos .olho-direito, .olho-esquerdo {
    width: 30px;
    height: 30px;
    border-radius: 40px;
    border: 3px solid #fff;
    display: flex;
    background: #00bfff;
}

main .fundo .olhos .olho-direito .centro, 
.olho-esquerdo .centro {
    background: #000;
    width: 8px;
    height: 8px;
    border-radius: 15px;
    margin: auto;
}

main .fundo .container-cabeca .orelha-direita, .orelha-esquerda {
    background: silver;
    width: 25px;
    height: 35px;
    border: 4px solid #fff;
    border-radius: 30px 0 0 30px;
    margin-right: -4px;
}

main .fundo .container-cabeca .orelha-esquerda {
    border-radius: 0 30px 30px 0;
    margin-left: -4px;
}

main .fundo .container-cabeca .cabeca .nariz {
    background: silver;
    border: 3px solid #fff;
    width: 20px;
    height: 20px;
    margin: auto;
    margin-top: 3px;
    border-radius: 8px;
}

main .fundo .container-cabeca .cabeca .boca {
    background: #00bfff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 60px;
    height: 20px;
    border: 3px solid #fff;
    margin: auto;
    margin-top: 8px;
}

main .fundo .container-cabeca .cabeca .boca span {
    background: #000;
    width: 3px;
}

main .fundo .container-cabeca .antena {
    background: #000;
    width: 5px;
    height: 45px;
    margin-left: 4px;
    border-radius: 15px 0;
    margin-top: -38px;
}


main .fundo .container-pescoco .pescoco {
    background: silver;
    border: 5px solid #fff;
    width: 25px;
    height: 20px;
    border-top: none;
    margin-left: -4px;
    border-bottom: none;
}



main .fundo .container-corpo {
    align-items: initial;
}

main .fundo .container-corpo .corpo {
    background: silver;
    width: 150px;
    height: 130px;
    margin-left: -16px;
    border: 5px solid #fff;
    border-radius: 0 0 60px 60px;
}

main .fundo .container-corpo .corpo .container-painel {
    display: flex;
    width: 100%;
    margin-top: 18px;
}

main .fundo .container-corpo .corpo .container-painel .painel {
    background: rgba(138, 138, 138, .7);
    width: 100px;
    height: 72px;
    border-radius: 8px;
    border: 5px solid #fff;
}

main .fundo .container-corpo .corpo .container-painel .painel, .reator-energia {
    margin: auto;
    display: block;
}

main .fundo .container-corpo .corpo .container-painel .painel .reator-energia {
    background: #00ffff;
    width: 35px;
    border: 4px solid #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 3px;
}

main .fundo .container-corpo .corpo .container-painel .painel .buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4px;
}

main .fundo .container-corpo .corpo .container-painel .painel .buttons .btn1, .btn2, .btn3 {
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    background: red;
    border-radius: 4px;
}

main .fundo .container-corpo .corpo .container-painel .painel .buttons .btn2 {
    background: purple;
}

main .fundo .container-corpo .corpo .container-painel .painel .buttons .btn3 {
    background: orangered;
}


main .fundo .container-corpo .braco-direito, .braco-esquerdo {
    width: 100px;
    height: 35px;
    border: 5px solid #fff;
    background: silver;
    border-radius: 30px 30px 0 30px;
    transform: rotate(-70deg);
    margin-top: 24px;
    margin-right: 4px;
}

main .fundo .container-corpo .braco-esquerdo {
    transform: rotate(70deg);
    border-radius: 30px 30px 30px 0;
    margin-left: -12px;
}



main .fundo .container-flutuador .flutuador {
    width: 100px;
    background: silver;
    height: 20px;
    border: 5px solid #fff;
    margin-left: -2px;
    border-radius: 20px 20px 0 0;
}

main .fundo .container-ondas {
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

main .fundo .container-ondas .onda1, .onda2, .onda3 {
    background: transparent;
    border: 3px solid blue;
    width: 45px;
    height: 15px;
    border-radius: 20px;
    transform: rotateX(70deg);
}

main .fundo .container-ondas .onda2 {
    width: 65px;
}

main .fundo .container-ondas .onda3 {
    width: 85px;
}


footer p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}


@media screen and (min-width: 601px) {
    main .fundo {
        width: 400px;
        height: 400px;
        background: purple;
    }
}
